In [1]:
import pandas as pd
import numpy as np 
import scipy as sc

In [61]:
# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward', 'Frank', 'Grace'],
    'Age': [25, 30, None, 45, None, None, 35],
    'Salary': [50000, 60000, 70000, None, 90000, 100000, None],
    'Department': ['HR', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'HR']
}

In [62]:
df= pd.DataFrame(data)

handeling Missing data

In [59]:
def drop_column(df):
    percentages = (df.isna().mean()) * 100
    
    # Identify columns with more than 30% missing values
    columns_to_drop = percentages[percentages > 30].index
    
    # Drop these columns
    df.drop(columns=columns_to_drop, inplace=True)
    
    return df

In [47]:
def drop_row(df):
    # Calculate the percentage of missing values in each column
    percentages = (df.isna().mean()) * 100
    
    # Identify columns with 10% to 30% missing values
    columns_to_check = percentages[(percentages > 10) & (percentages < 30)].index
    
    # Drop rows where any of these columns have missing values
    df_cleaned = df.dropna(subset=columns_to_check)
    
    return df_cleaned

drop_row(df)

      Name   Age    Salary Department
0    Alice  25.0   50000.0         HR
1      Bob  30.0   60000.0    Finance
2  Charlie   NaN   70000.0         IT
4   Edward   NaN   90000.0    Finance
5    Frank   NaN  100000.0         IT

In [ ]:
def impute_na(df):
    percentages = (df.isna().mean()) * 100
    
    # Identify columns with less or equal to 10% missing values
    columns_to_check = percentages[percentages <= 10].index

    for column in columns_to_check:
        if df[column].dtype == "object":
            df[column].fillna(df[column].mode()[0], inplace=True)
        else:
            df[column].fillna(df[column].mean(), inplace=True)
    
    return df

Handeling Duplicates

COSO 0.0
COSO 42.857142857142854
COSO 28.57142857142857
COSO 0.0